/* Use this contrast checker: https://webaim.org/resources/contrastchecker/ */

/* Code Along, Part 1 */

/* 1. Check the ratio of the background color and the color of the text.
    We want the ratio 4:1 or higher. What is it? */


/* 2. Change the background color so that it contrasts well with the text. 
    What color do you think would provide a good contrast with red? 
    (Hint: Remember lighter colors contrast best with darker colors and vice versa). */

/* 3. Recheck the ratio now. Afterwards, go to the HTML file.*/

body {
    background-color: #f5f5f5;
    color: #2F406A;
}


.food-pic {
  height: 250px;
}

.title {
    text-align: center;
    color: #2F406A;
    border: #2F406A solid 5px;
    border-radius: 30px;
    font-family: 'Italianno', cursive;
    font-size: 90px;
}

.row1 {
  display:flex;
  justify-content: space-around;
}
